* {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main_content {
    flex-grow: 1;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #DFEDF8 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

body {
    font-family: 'Roboto';
    font-style: normal;
    color: #356EAD;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
    padding-bottom: 42px;
}

.top_info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/background.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 45%;
}

.header1 {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
    text-align: left;
}

.top_content {
    display: flex;
    flex-direction: column;
}

.paragraph_1 {
    width: 425px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
    opacity: 0.6;

}

a:hover {
    text-decoration: underline;
    color: #000000;
}

.top_button {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    display: inline-block;
    text-decoration: none;
    margin-top: 71px;
    margin-left: 114px;
}

.header3 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
    padding-top: 64px;
}

.main_blocks {
    display: flex;
    justify-content: space-around;
    padding-top: 64px;
}

.block {
    width: 359px;
    padding: 44px 34px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.block_img {
    align-self: center;
    margin-bottom: 51px;
}

.header4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: center;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
    padding-top: 14px;
}

.block_link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    padding-top: 30px;
}

.block_link::after {
    content: url(img/arrow.svg);
    display: inline-block;
    margin-left: 10px;
    margin-top: 30px;
}

.ptext {
    color: #222222;
    width: 75%;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 32px auto 64px;
    text-align: center;
}

.text_img {
    width: 100%;
}

.text_item {
    position: relative;
    flex-grow: 1;
}

.project_text {
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.img_margine {
    margin-right: 32px;
}

.text_parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    position: relative;
}

.text_img_text {
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}


.footer {
    font-size: 16px;
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
    list-style-type: none;
}

.footer_top {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_text {
    color: #FFFFFF;
    max-width: 495px;
}

.footer_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
    background: #5A98D0;
}

.letstalk {
    text-decoration: none;
    color: #FFFFFF;
}

.fheading {
    max-width: 340px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 32px;
}


.hr {
    opacity: 0.4;
}

.footer_info {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}


.li {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    flex-grow: 1;
    flex-basis: 33.333%;
    display: flex;
    margin-right: 32px;
}

.all {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    padding-top: 64px;
}

.top_text {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    background-image: url(img/background_contact_us.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
}

.header2contacts {
    color: #FFFFFF;
}

.hello {
    color: rgba(255, 255, 255, 0.6);
}

.contact_us {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    padding-top: 65px;
}

.contact_info {
    padding-top: 65px;
    padding-bottom: 96px;

}

.header4_info {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.04em;
    padding-top: 40px;
}

.info {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    padding-top: 24px;
    list-style-type: none;
}

.phone::before {
    content: url(img/ic_phone_24px.svg);
    display: inline-block;
    margin-right: 19px;
    width: 18px;
}

.site::before {
    content: url(img/ic_language_24px.svg);
    display: inline-block;
    margin-right: 19px;
    width: 18px;
}

.mailto::before {
    content: url(img/ic_email_24px.svg);
    display: inline-block;
    margin-right: 19px;
    width: 18px;
}

.header4send {
    padding-bottom: 48px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.label {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    max-width: 428px;
    color: #1F3F68;
    opacity: 0.8;

}

.input_here {
    padding: 56px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.input {
    opacity: 0.4;
    min-width: 428px;
    height: 72px;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 36px;
    margin-top: 8px;
    margin-bottom: 32px;
}

.inputmessage {
    min-width: 428px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 36px;
    padding-top: 21px;
}

.submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 23px 183px;
    border: none;
    margin-top: 72px;
}

.map {
    padding-top: 112px;
    display: flex;
    justify-content: center;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}


/*adaptive layout*/



@media (max-width:1024px) {

    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .main_blocks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block {
        margin-bottom: 32px;
    }

    .footer {
        padding-top: 64px;
    }

    .footer_top {
        padding-left: 124px;
        padding-right: 124px;
    }

    .footer_info {
        display: list-item;
        padding-top: 39px;
        padding-bottom: 64px;
    }

    .footer_bottom {
        padding-left: 124px;
    }

    .li {
        padding-top: 25px;
    }

    .footer_text {
        max-width: 336px;
    }

    .menu {
        padding-top: 18px;
    }

    .contact_us {

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;

    }

    .contact_info {
        padding-bottom: 64px;
    }

    .label {
        max-width: 412px;
    }

    .map {
        padding-top: 64px;
        max-width: 768px;
    }

}

@media (max-width:768px) {

    .top_info {
        background-position: right 280px;
    }

}



@media (max-width:667px) {

    .container {
        padding-left: 19px;
        padding-right: 19px;
    }

    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }


    .menu {

        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header1 {
        font-size: 32px;
        width: 100%;
        line-height: 38px;
        margin-bottom: 12px;
        text-align: center;
    }

    .paragraph_1 {
        width: 100%;
        padding-bottom: 32px;
    }

    .top_info {
        background-image: none;
        padding-top: 36px;

    }

    .top_button {
        font-size: 12px;
        line-height: 26px;
        padding: 0px 8px;
        margin: 0;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .header3 {
        font-size: 24px;
        line-height: 28px;
        padding-top: 48px;
    }

    .block {
        width: 100%;
    }

    .main_blocks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ptext {
        width: 100%;
    }

    .project_text {

        font-size: 16px;
        line-height: 19px;
        top: 32px;
        right: 16px;
    }

    .text_parent {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .img_margine {
        margin-right: 0;
    }

    .text_img_text {
        font-size: 16px;
        line-height: 19px;
        top: 32px;
        left: 16px;
    }

    .text_img {
        padding-top: 16px;
    }

    .footer {
        margin-top: 64px;

    }

    .footer_top {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 40px;
        text-align: center;
        padding: 0;
    }

    .fheading {
        text-align: center;
    }

    .footer_text {
        padding-bottom: 20px;
    }

    .footer_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .li {
        padding-top: 17px;
    }

    .footer_bottom {
        padding: 0;
    }

    .hr {
        margin-top: 41px;
    }

    .all {
        text-align: center;
        padding-top: 37px;
    }

    .menu {
        padding-top: 15px;
    }

    .contact_info {
        padding-bottom: 64px;
    }


    .map {
        padding-top: 64px;
        max-width: 683px;
    }

    .header4send {
        font-size: 16px;
        padding-bottom: 31px;
    }

    .label {
        font-size: 14px;
    }

    .submit {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 56px;
        margin-top: 56px;
    }

    .input_here {
        max-width: 342px;
        padding: 35px;
    }

    .inputmessage {
        min-width: 272px;
    }

    .input {
        min-width: 272px;
    }
}